body {
}

main {
  width: 80%;
  margin-inline: auto;
  margin-top: 20px;
}
header {
  height: 100px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

a{ font-size:large  ;
    color:#00b39b ;
    padding-left: 10px ;
    text-decoration: none;

  }
a:hover {
        color: gray;
      }

header img {
  width: 300px;
}
.image1{ padding : 15px ;;display: flex;justify-content: center; padding-left: 50%;}
h1{color: #00b39b;display: flex;justify-content: center; align-items: center ; font-weight: normal;}
.container {
  background-color: white;
  margin-top: 50px;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.card{
  width: 400px;
  height: 300px;
  background-color:white (16, 199, 126);
  border-radius: 12px;
  margin-top: 10px;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  color: gray;

  
}
.boxone{
    margin: 5px;
    padding: 10px;
    width: 250px;
    height: 300px;
    background-color: #00b39b;
    font-size: 25px; color: white;
    border-radius: 5%;
    
}
h1{

}
.boxtwo{
    margin: 5px;
    padding: 10px;
    width: 250px;
    height: 300px;
    background-color: #8b8ce9;
    font-size: 25px; color: white;
    border-radius: 5%;

    

}
.boxthree{
    margin: 5px;
    padding: 10px;
    width: 250px;
    height: 300px;
    background-color:#004;
    font-size: 25px; color: white;
    border-radius: 5%;
}

.containerwrap{ 
  flex-wrap: wrap;
}